.button-container {
	.button-component {
		border: green 1px solid;
		padding: 5px 20px;
		cursor: pointer;
	}
	.button-component:hover {
		border: 1px solid transparent;
		background-color: green;
		color: white;
		transition: cubic-bezier(0.6, 0.04, 0.98, 0.335);
	}
	margin-bottom: 20px;
}
