.wrapper{
    background-color: steelblue;    
    border-radius: 12px;
    padding: 40px 35px;
        .form-container{
            display: flex;
            flex-direction: column;
            .label-mod{
                font-size: 12px;
                margin-bottom: 8px;
            }
            .form-input{
                padding:8px 12px;
                margin-bottom: 10px;
                border-radius: 8px;
                border:none;
            }

            .error-message{
                font-size: 10px;
                color: rgb(120, 3, 3);
                margin: 0px 0px 5px 0px;
            }
            
            button{
                width: 50%;
                margin: 0 auto;
                height: 25px;
                border-radius: 8px;
                border:none;
            }
            button:hover {background-color: white; cursor: pointer;}
            button:last-child{
                margin-top: 15px;
            }
        
           
        }
        
    
   
}