.App {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	color: white;
	padding: 20px;
}
.form-overlay {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: black;
	background: rgba(0, 0, 0, 0.8);
	z-index: 1;
}

.form {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	position: relative;
}

*:focus {
	outline: none;
}
