.App {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	color: white;
	padding: 20px;
}
.form-overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
}

.form {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	position: relative;
}

*:focus {
	outline: none;
}
